body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

#messageInput {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.envia {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #013f16;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #436e51;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.voltar{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #013f16;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -80%;
}