<!DOCTYPE html>
<html>
<head>
    <title>Chat em Tempo Real</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_fastapi.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <button onclick="return_django()" class="voltar">Return</button>
    <h1>Sugestões de Melhorias</h1>
    <input type="text" id="messageInput" placeholder="Digite sua mensagem...">
    <button onclick="sendMessage()" class="envia">Enviar</button>
    <ul id="messagesList">
        <!-- Aqui serão adicionadas as mensagens dinamicamente via JavaScript -->
    </ul>
    
</body>
</html>