<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="../../static/css/style_delete.css">
</head>
<body>
    <div class="container">
        <h2>Tem certeza que deseja excluir esta Anotação?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Sim, excluir</button>
            <a href="{% url 'mostrar_objeto' %}">Cancelar</a>
        </form>
    </div>
</body>
</html>
