<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Objeto</title>
    <link rel="stylesheet" href="../../static/css/style_update.css">
</head>
<body>
    <div class="container">
        <h2>Atualizar Objeto</h2>
        <form method="post" action="{% url 'atualizar_objeto' objeto.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar Alterações</button>
            <a href="{% url 'mostrar_objeto' %}">Cancelar</a>
        </form>
        
    </div>
</body>
</html>
